<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sootbas.sootbasappHizar">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name="com.sootbas.sootbasappHizar.PodcastPlayerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/notification"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->


        <!-- Splash Screen -->
        <activity
            android:name="com.sootbas.sootbasappHizar.ui.activity.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>



        <activity
            android:name="com.sootbas.sootbasappHizar.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>


        <activity android:name="com.sootbas.sootbasappHizar.ui.activity.TrendingNewsActivity">

        </activity>


        <activity
            android:name="com.sootbas.sootbasappHizar.ui.activity.PodcastActivity"
            android:parentActivityName="com.sootbas.sootbasappHizar.ui.activity.MainActivity"
            android:theme="@style/CustomMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sootbas.sootbasappHizar.ui.activity.MainActivity"/>
        </activity>

        <activity
            android:name="com.sootbas.sootbasappHizar.ui.activity.EpisodesActivity"
            android:label="@string/title_activity_episode"
            android:parentActivityName="com.sootbas.sootbasappHizar.ui.activity.PodcastActivity"
            android:theme="@style/CustomMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sootbas.sootbasappHizar.ui.activity.PodcastActivity"/>
        </activity>

        <activity
            android:name="com.sootbas.sootbasappHizar.ui.activity.EpisodeActivity"
            android:label="@string/title_activity_episode"
            android:parentActivityName="com.sootbas.sootbasappHizar.ui.activity.EpisodesActivity"
            android:theme="@style/CustomMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sootbas.sootbasappHizar.ui.activity.EpisodesActivity"/>
        </activity>

        <provider
            android:name="com.sootbas.sootbasappHizar.custom.QuerySuggestionProvider"
            android:authorities="com.sootbas.sootbasappHizar.custom.QuerySuggestionProvider"
            android:exported="false"/>

        <service android:name="com.sootbas.sootbasappHizar.player.service.AudioService"
                 android:enabled="true"
                 android:exported="false"/>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>




    </application>

</manifest>